@use "varijable";
@mixin hero($gap:0, $margin:90px auto 80px auto){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap:$gap;
    margin:$margin;
    
}
@mixin hero-img($width:300px, $height:300px, $max-width:100%){
    
    width:$width;
    height:$height;
    max-width: $max-width;
    
}
@mixin hero-bio($font:varijable.$velicina-fonta * 1.3 varijable.$nav-font , $width:600px, $border-radius:10px){
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    h1{font-size:60px;}
    font:$font;
    width: $width;
    border-radius: $border-radius;
    background: transparent;
    margin-bottom: 0;
    box-shadow: none;
    p{
        text-align: center;
 }
}