@use "varijable";
nav{
    display: flex;
    position: absolute;
    background-color: varijable.$nav-boja;
    font-size:xx-large;
    box-shadow:none;
    z-index: 11;
    width: 100%;
    height: 105px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 30px 25px;
    top:0;
    border:0;
    img{
        width: 120px;
        height: 120px;
        margin-top: 30px;
        transition: 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);

        }
    }
    a{
        text-decoration: none;
        color:#ffb031;
        display:inline-block;
        transition: 0.3s ease-in-out;
        border: 3px solid #ffb031;
        border-radius: 30px ;
        padding: 10px;

        &:hover{
            background-color: #ffb031;
            color: varijable.$bg;
            border-radius: 30px ;
        }
    }
    li{
        margin-left: 5px;
        margin-right: 5px;  
        display:inline-block;
        font-size: varijable.$velicina-fonta;

    }
    
}
#povratak{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb031;
    padding-left: 20px;
    padding-right: 20px;
    
}
