$nav-font: Arial;
$sec: #b6cdbd;
$nav-boja:rgb(137, 226, 255);
$link-boja:deepskyblue;
$aktivni:rgb(0, 126, 168);
$desktop: 1200px;
$tablet-max: 960px;
$tablet-min: 481px;
$phone: 480px;
$velicina-fonta:24px;
$velicina-fonta-manja:$velicina-fonta * 0.75;