$nav-font: Arial;
$sec: #b6cdbd;
$nav-boja:rgb(137, 226, 255);
$link-boja:deepskyblue;
$aktivni:rgb(0, 126, 168);
$desktop: 1200px;
$tablet-max: 960px;
$tablet-min: 481px;
$phone: 480px;
$velicina-fonta:24px;
$velicina-fonta-manja:$velicina-fonta * 0.75;


//Mapa boja

$boje: (
    "crvena": #FF0000,
    "roza": #FFC0CB,
    "narandzasta": #FFA500,
    "zuta": #FFFF00,
    "zelena": #008000,
    "plava": #0000FF,
    "bijela": #FFFFFF,
    "siva": #808080,
    "crna": #000000,
);
@debug map-get($boje , "bijela" );
