#boja-crvena {
  background-color: #FF0000;
}

#boja-crvena-svijetlija-1 {
  background-color: #ff2e2e;
}

#boja-crvena-svijetlija-2 {
  background-color: #ff5c5c;
}

#boja-crvena-svijetlija-3 {
  background-color: #ff8a8a;
}

#boja-crvena-svijetlija-4 {
  background-color: #ffb8b8;
}

#boja-crvena-svijetlija-5 {
  background-color: #ffe6e6;
}

#boja-roza {
  background-color: #FFC0CB;
}

#boja-roza-svijetlija-1 {
  background-color: #ffcbd4;
}

#boja-roza-svijetlija-2 {
  background-color: #ffd7de;
}

#boja-roza-svijetlija-3 {
  background-color: #ffe2e7;
}

#boja-roza-svijetlija-4 {
  background-color: #ffedf0;
}

#boja-roza-svijetlija-5 {
  background-color: #fff9fa;
}

#boja-narandzasta {
  background-color: #FFA500;
}

#boja-narandzasta-svijetlija-1 {
  background-color: #ffb52e;
}

#boja-narandzasta-svijetlija-2 {
  background-color: #ffc55c;
}

#boja-narandzasta-svijetlija-3 {
  background-color: #ffd68a;
}

#boja-narandzasta-svijetlija-4 {
  background-color: #ffe6b8;
}

#boja-narandzasta-svijetlija-5 {
  background-color: #fff6e6;
}

#boja-zuta {
  background-color: #FFFF00;
}

#boja-zuta-svijetlija-1 {
  background-color: #ffff2e;
}

#boja-zuta-svijetlija-2 {
  background-color: #ffff5c;
}

#boja-zuta-svijetlija-3 {
  background-color: #ffff8a;
}

#boja-zuta-svijetlija-4 {
  background-color: #ffffb8;
}

#boja-zuta-svijetlija-5 {
  background-color: #ffffe6;
}

#boja-zelena {
  background-color: #008000;
}

#boja-zelena-svijetlija-1 {
  background-color: #2e972e;
}

#boja-zelena-svijetlija-2 {
  background-color: #5cae5c;
}

#boja-zelena-svijetlija-3 {
  background-color: #8ac58a;
}

#boja-zelena-svijetlija-4 {
  background-color: #b8dbb8;
}

#boja-zelena-svijetlija-5 {
  background-color: #e6f2e6;
}

#boja-plava {
  background-color: #0000FF;
}

#boja-plava-svijetlija-1 {
  background-color: #2e2eff;
}

#boja-plava-svijetlija-2 {
  background-color: #5c5cff;
}

#boja-plava-svijetlija-3 {
  background-color: #8a8aff;
}

#boja-plava-svijetlija-4 {
  background-color: #b8b8ff;
}

#boja-plava-svijetlija-5 {
  background-color: #e6e6ff;
}

#boja-bijela {
  background-color: #FFFFFF;
}

#boja-bijela-svijetlija-1 {
  background-color: white;
}

#boja-bijela-svijetlija-2 {
  background-color: white;
}

#boja-bijela-svijetlija-3 {
  background-color: white;
}

#boja-bijela-svijetlija-4 {
  background-color: white;
}

#boja-bijela-svijetlija-5 {
  background-color: white;
}

#boja-siva {
  background-color: #808080;
}

#boja-siva-svijetlija-1 {
  background-color: #979797;
}

#boja-siva-svijetlija-2 {
  background-color: #aeaeae;
}

#boja-siva-svijetlija-3 {
  background-color: #c5c5c5;
}

#boja-siva-svijetlija-4 {
  background-color: #dbdbdb;
}

#boja-siva-svijetlija-5 {
  background-color: #f2f2f2;
}

#boja-crna {
  background-color: #000000;
}

#boja-crna-svijetlija-1 {
  background-color: #2e2e2e;
}

#boja-crna-svijetlija-2 {
  background-color: #5c5c5c;
}

#boja-crna-svijetlija-3 {
  background-color: #8a8a8a;
}

#boja-crna-svijetlija-4 {
  background-color: #b8b8b8;
}

#boja-crna-svijetlija-5 {
  background-color: #e6e6e6;
}

nav {
  display: flex;
  position: absolute;
  background-color: #97cba9;
  font-size: xx-large;
  box-shadow: 0px 2px 5px rgb(148, 148, 148);
  z-index: 1;
  width: 100%;
  height: 95px;
  justify-content: space-between;
  align-items: center;
  padding: 2px 25px;
  top: 0;
}
nav img {
  width: 120px;
  height: 120px;
  margin-top: 30px;
  margin-left: 22px;
}
nav a {
  text-decoration: none;
  color: #aab141;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
nav a:active {
  color: rgb(0, 126, 168);
}
nav a:hover {
  transform: scale(1.2);
}
nav li {
  padding: 5px 2px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#povratak {
  transition: 0.3s ease-in-out;
}
#povratak:hover {
  transform: scale(1.1);
}

/* Uklanjanje margina i paddinga osim ako je u novim klasama i
 drugim elementima postavljena nova vrijednost koja zamjenjuje gore navedene vrijednosti. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-color: #dde0ab;
  font: 100% Arial;
}

div {
  border-radius: 20px;
  box-shadow: 0px 3px 9px 8px rgb(148, 148, 148);
  padding: 20px;
  margin: 30px 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

img {
  width: 200px;
  height: 200px;
  max-width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 0 10px;
}

label {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
}

form {
  text-align: center;
  padding: 50px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

textarea {
  border: #65d8f5 solid 3px;
  border-radius: 5px;
  width: 300px;
  min-height: 100px;
}

input {
  border: #65d8f5 solid 3px;
  border-radius: 5px;
  width: 300px;
  min-height: 30px;
}

.dugme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  color: rgb(165, 47, 47);
  border: 0;
  padding: 0;
  border-radius: 20px;
}

.dugme:hover {
  background-color: green;
}

.kvacica {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  border-radius: 0;
  box-shadow: none;
  display: none;
}

.nesto {
  box-shadow: none;
  border-radius: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
}

.loader {
  width: 100%;
  height: 100%;
  box-shadow: none;
  display: none;
  justify-content: center;
  align-items: center;
  transition: visibility 0.5s, opacity 0.5s;
}
.loader::after {
  content: "";
  width: 300px;
  height: 300px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 1.5s ease;
}

.loader-hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes loading {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(2turn);
  }
}
.natpis {
  display: none;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

#greska, #greska1, #greska2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  color: red;
}

.vjestine, .projekti {
  padding: 70px 0 0 0;
  margin: 70px 0 80px 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.vjestine img, .projekti img {
  width: 800px;
  height: 496px;
}

.vjestine-div, .projekti-div {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}
.vjestine-div img, .projekti-div img {
  width: 200px;
  height: 200px;
  max-width: 100%;
}
.vjestine-div div, .projekti-div div {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.vjestine-div div:hover, .projekti-div div:hover {
  opacity: 1;
  display: flex;
}

#unos {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 0;
}

#tekst {
  font-size: 24px;
  margin: 20px;
  line-height: 175%;
  padding: 0 20px 0 20px;
}

#naslov {
  position: fixed;
  box-shadow: 0px 5px 5px rgb(148, 148, 148);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #aab141;
  padding: 7px 12px;
  text-align: center;
  background-color: #e8ffef;
  top: 0;
}

#forma {
  background-color: #ebebab;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
  width: 50%;
  min-height: 460px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 70px auto 80px auto;
}
.hero img {
  width: 650px;
  height: 650px;
  max-width: 100%;
}

.bio {
  width: 300px;
  border-radius: 10px;
  background: linear-gradient(to left, #97cba9 33%, #cae5d3 66%) right;
  transition: 0.5s ease-out;
  background-size: 200%;
}
.bio:hover {
  background-position: left;
}

.trenutni-link {
  color: #636626;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (min-width: 481px) and (max-width: 960px) {
  .nav-meni {
    display: flex;
    position: fixed;
    width: 100%;
    right: -100%;
    height: 100%;
    top: 0;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    background-color: #97cba9;
  }
  .nav-meni.active {
    right: 0;
    padding-top: 50px;
    width: 50%;
  }
  .nav-meni-item {
    margin-top: 45px;
  }
  .hamburger {
    display: block;
    background-color: #97cba9;
    box-shadow: none;
    border-radius: 10px;
    margin-right: 0;
    position: relative;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .vjestine section, .projekti section {
    display: flex;
    align-items: center;
  }
  .vjestine img, .projekti img {
    width: 420px;
    height: 300px;
    margin-top: 20px;
  }
  #forma {
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 50px;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 60px auto 80px auto;
  }
  .hero img {
    width: 480px;
    height: 480px;
    max-width: 100%;
  }
  .bio {
    width: 250px;
    border-radius: 10px;
    background: linear-gradient(to left, #97cba9 33%, #cae5d3 66%) right;
    transition: 0.5s ease-out;
    background-size: 200%;
  }
  .bio:hover {
    background-position: left;
  }
}
@media (max-width: 480px) {
  #tekst {
    font-size: 18px;
  }
  .nav-meni {
    display: flex;
    position: fixed;
    width: 100%;
    left: -100%;
    height: 100%;
    top: 0;
    gap: 15px;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    background-color: #97cba9;
  }
  .nav-meni.active {
    left: 0;
    padding-top: 50px;
  }
  .hamburger {
    display: block;
    background-color: #97cba9;
    box-shadow: none;
    border-radius: 10px;
    margin-right: 0;
    position: relative;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  #forma {
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 60px auto 60px auto;
  }
  .hero img {
    width: 480px;
    height: 460px;
    max-width: 100%;
    margin-top: 40px;
  }
  .bio {
    width: 270px;
    border-radius: 10px;
    background: linear-gradient(to left, #97cba9 33%, #cae5d3 66%) right;
    transition: 0.5s ease-out;
    background-size: 200%;
    margin-top: 60px;
  }
  .bio:hover {
    background-position: left;
  }
  .vjestine, .projekti {
    margin-bottom: 107px;
  }
  .vjestine img, .projekti img {
    width: 440px;
    height: 320px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=stil.css.map */